/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  /*background: url("http://i.imgur.com/WeUnkCh.png"); */ 
  background: url("http://i.imgur.com/DS3RSwl.jpg");
  /*background: url("http://i.imgur.com/somIRW4.jpg");*/
  /*background-repeat: repeat;*/
  /* the follow is the code to have the image display as a full page */
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;  /*the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Droid Sans', sans-serif;
}

h1 {
  font-family: 'Droid Serif', serif ;
  font-weight: 400;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.0);
}


#topstuff {
  margin: 30px 0px;
  padding: 11px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#topstuff a:visited, nav a:visited{
  color: white;
}

#topstuff a:hover, nav a:hover{
  color: white;
  background-color: rgba(255, 255, 255, 0.0);
}

#topstuff ul {
  display: inline;
  text-align: right;
  margin-right: 2%;
  color: white;
  float: right;
}

#topstuff a {
  color: white;
}

.warning {
  display: inline;
}

#flash_notice {
  display: inline;
  padding-top: 13px;
}

#logo {
  height: 108px;
  /*text-align: left;*/
  /*margin-left: 1%;*/
  margin-top: 0px;
}

/*#logo h1 {
  display: inline;
  font-size: 3em;
  margin-top: 0em;
  margin-bottom: 0em;
  position: relative;
  top: 40%;
}*/

#logo img {
  max-width: 200px;
  position: relative;
  top: 20%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 0px;
  text-align: left;
  color: white;
}

nav ul {
  padding-left: 13%
}

nav ul li {
  padding: 5% 0%;
}

nav a {
  color: white;
}

#main_content {
  background: url("http://i.imgur.com/nlaNQOK.png");
  background-repeat: repeat;
  margin-right: 0px;
  margin-bottom: 30px;
}

#content {
  padding: 20px;
}

#content h1 {
  margin-top: 0em;
  font-size: 1.5em;
  color: #4776C8;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#tictac_board {
  margin-bottom: 15px;
}

.square {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

.tictac_display {
  margin-bottom: 55px;
}

.tictac_display td, th {
  padding: 5px 12px;
  text-align: left;
}

.new_tictac {
  display: inline;
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

.make_inline {
  display: inline;
}

.make_float_left {
  clear: right;
  float: left;
}

.make_block_clear {
  display: block;
  clear: both;
}

@media only screen and (max-width: 767px) {
  /*polishes up mobile (both portrait and landscape) experience*/
  nav {
    background: none;
    text-align: left;
  }

  nav ul {
    padding-left: 0px;
  }

  nav ul li {
    margin-bottom: 7px;
    display: block;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
  }

  nav ul li a{
    padding-left: 20px;
    /*line-height: 2em;*/
  }

  nav ul li a:last-child{
    line-height: 2em;
  }

  #logo img {
    display: block;
    clear: both;
    margin: 0 auto;
  }

  #topstuff ul {
    display: block;
    clear: both;
    margin: 0 auto;
    padding-left: 0px;
    width: 100%;
  }

  #topstuff ul li {
    display: block;
    clear: both;
    margin: 12px auto;
    text-align: center;
  }

  .warning {
    display: block;
    clear: both;
    margin: 0 auto;
  }

  #flash_notice {
    display: block;
    clear: both;
    margin: 0 auto;
    padding-top: 13px;
    text-align: center;
  }

  #logo img {
    position: relative;
    top: 0%;
  }
}



