<h1>Game Types</h1>

<table class='tictac_display'>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= link_to 'Play', game %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Create a new Game Type', new_game_path %>
